In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config1 import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-10-17 07:40:00,73.5069,80.5464,31.68,99,100,11.32
1,1,Chokurdakh,RU,2021-10-17 07:40:03,70.6333,147.9167,-6.88,100,94,2.57
2,2,Busselton,AU,2021-10-17 07:40:06,-33.6500,115.3333,66.04,65,74,11.25
3,3,Dryden,CA,2021-10-17 07:40:08,49.7833,-92.7503,41.29,75,1,8.05
4,4,Ushuaia,AR,2021-10-17 07:37:19,-54.8000,-68.3000,35.26,75,75,11.50

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Sambava,MG,2021-10-17 07:40:20,-14.2667,50.1667,80.44,51,5,10.80
11,11,Buluang,PH,2021-10-17 07:40:28,13.3068,123.3425,82.80,83,83,1.21
24,24,Vaini,TO,2021-10-17 07:40:59,-21.2000,-175.2000,75.36,88,90,11.50
25,25,Lorengau,PG,2021-10-17 07:41:02,-2.0226,147.2712,83.66,69,53,8.01
27,27,Pochutla,MX,2021-10-17 07:41:07,15.7432,-96.4661,75.81,72,89,4.12
35,35,Tautira,PF,2021-10-17 07:41:29,-17.7333,-149.1500,75.22,77,47,20.45
36,36,Mahebourg,MU,2021-10-17 07:41:31,-20.4081,57.7000,78.26,78,75,23.02
39,39,Kimbe,PG,2021-10-17 07:41:39,-5.5502,150.1429,80.10,87,100,2.80
42,42,Victoria,HK,2021-10-17 07:39:35,22.2855,114.1577,80.33,64,90,11.01
46,46,Georgetown,MY,2021-10-17 07:41:57,5.4112,100.3354,87.75,75,20,1.01

In [10]:
preferred_cities_df.count()

City_ID       161
City          161
Country       160
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [11]:
npc_df = preferred_cities_df.dropna()
npc_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
8      Sambava      MG     80.44 -14.2667   50.1667
11     Buluang      PH     82.80  13.3068  123.3425
24       Vaini      TO     75.36 -21.2000 -175.2000
25    Lorengau      PG     83.66  -2.0226  147.2712
27    Pochutla      MX     75.81  15.7432  -96.4661
35     Tautira      PF     75.22 -17.7333 -149.1500
36   Mahebourg      MU     78.26 -20.4081   57.7000
39       Kimbe      PG     80.10  -5.5502  150.1429
42    Victoria      HK     80.33  22.2855  114.1577
46  Georgetown      MY     87.75   5.4112  100.3354

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Sambava,MG,80.44,-14.2667,50.1667,Melrose
11,Buluang,PH,82.80,13.3068,123.3425,Enon Beach Resort
24,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
25,Lorengau,PG,83.66,-2.0226,147.2712,Lorengau Harbourside Hotel
27,Pochutla,MX,75.81,15.7432,-96.4661,Hotel Posada San Jose
...,...,...,...,...,...,...
563,Gaoual,GN,75.92,11.7500,-13.2000,Hotel koliba
565,Yenagoa,NG,82.17,4.9247,6.2642,Aridolf Resort Wellness and Spa
568,Noumea,NC,76.98,-22.2763,166.4572,Hôtel Le Lagon
573,Road Town,VG,80.20,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
575,Auki,SB,77.90,-8.7676,160.7034,Auki Motel

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))